body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #4A90E2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}
.main-container {
    width: 90%;
    max-width: 700px;
}
.container {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}


.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
}

p {
    margin: 5px 0;
    font-size: 16px;
    color: #ccc;
}

button {
    padding: 10px;
    margin: 5px;
    border: none;
    background: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#locationButton {
    background: #155fdf;
}

#locationButton:hover {
    background: #2c5bf3;
}

.result-container {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.weather-box, .forecast-box {
    background: #333;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.forecast-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #444;
    margin: 5px 0;
    border-radius: 8px;
}

.go-back {
    margin-top: 15px;
    background: #ff4c4c;
    padding: 10px 15px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.go-back:hover {
    background: #e03e3e;
}

